
@{
    ViewBag.Title = "接口调用";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2 class="sub-header">@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>接口</th>
                <th>控制器</th>
                <th>调用次数</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    @section script{
        <script>
            var list = list || {};
            list.apiList = ['WeiXin/BoEingEnctypt', 'WeiXin/Decrypt', 'WeiXin/QryCity', 'WeiXin/GetRsaPubKey', 'WeiXin/SendText', 'WeiXin/UploadMedia', 'WeiXin/SendImage', 'WeiXin/GetUserInfo', 'WeiBank/GetCard', 'WeiBank/SendCode', 'WeiBank/DeleteCard', 'WeiBank/UpCard', 'WeiBank/CheckAndBindCard', 'WeiBank/GetWeiBankMenu', 'WeiBank/GetwxUser', 'WeiBank/GetAllTrans', 'WeiBank/GetTransByType', 'WeiBank/SetAlias'];
            (function () {
                $(document).ready(function () {
                    $('#@ViewBag.ActiveId').addClass('active');
                    list.load();
                });
                list.load = function () {
                    list.apiList.forEach(function (item, index) {
                        $.get('/api/InsertLog/TextSearchCount?q=' + item, function (data) {
                            $('tbody').append('<tr> <th>' + item.split('/')[1] + '</th> <th>' + item.split('/')[0] + '</th><th>' + data + '</th> </tr>')
                        })
                    })
                }
            })();
        </script>
    }





